<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layouts/default">

<body class="bg-dark">
  
    <main id="main" class="main" layout:fragment="content" style="height: 1024px;">
          <div class="pagetitle">
            <h1 class="text-white">Dashboard</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html" class="text-white">Home</a></li>
                <li class="breadcrumb-item active text-white-50" >Dashboard</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
  

          <section class="section dashboard">
            <div class="row">
      
              <!-- Left side columns -->
              <div class="col-lg-8">
                <div class="row">
      
                  <!-- Sales Card -->
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card sales-card">
      
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
      
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Trips <span>| Today</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>
                          </div>
                          <div class="ps-3">
                            <h6>15</h6>
                            <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span>
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div><!-- End Sales Card -->
      
                  <!-- Revenue Card -->
                  <div class="col-xxl-4 col-md-6">
                    <div class="card info-card revenue-card">
      
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
      
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Revenue <span>| Today</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                          </div>
                          <div class="ps-3">
                            <h6>GHC 760</h6>
                            <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span>
      
                          </div>
                        </div>
                      </div>
      
                    </div>
                  </div><!-- End Revenue Card -->
      
                  <!-- Customers Card -->
                  <div class="col-xxl-4 col-xl-12">
      
                    <div class="card info-card customers-card">
      
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
      
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Passengers <span>| Today</span></h5>
      
                        <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                          </div>
                          <div class="ps-3">
                            <h6>44</h6>
                            <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span>
      
                          </div>
                        </div>
      
                      </div>
                    </div>
      
                  </div><!-- End Customers Card -->
      
                
      
                  <!-- Recent Sales -->
                  <div class="col-12">
                    <div class="card recent-sales">
      
                      <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                          </li>
      
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                      </div>
      
                      <div class="card-body">
                        <h5 class="card-title">Trips<span>| Today</span></h5>
      
                        <table class="table table-borderless datatable">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Start</th>
                              <th scope="col">End</th>
                              <th scope="col">Time</th>
                              <th scope="col">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row"><a href="#">#2457</a></th>
                              <td>Balme library                         </td>
                              <td><a href="#" class="text-primary">Night market 
                              </a></td>
                              <td>06:30</td>
                              <td><span class="badge bg-success">Completed</span></td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="#">#2147</a></th>
                              <td>Night market</td>
                              <td><a href="#" class="text-primary">Law school car park
                              </a></td>
                              <td>6:44</td>
                              <td><span class="badge bg-success">Completed</span></td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="#">#2049</a></th>
                              <td>Law school car park
                              </td>
                              <td><a href="#" class="text-primary">Central cafeteria 
                              </a></td>
                              <td>7:03</td>
                              <td><span class="badge bg-success">Completed</span></td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="#">#2644</a></th>
                              <td>Central cafeteria 
                              </td>
                              <td><a href="#" class="text-primar">Jones Quartey building(JQB)</a></td>
                              <td>8:01</td>
                              <td><span class="badge bg-danger">Cancelled</span></td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="#">#2644</a></th>
                              <td>Jones Quartey building(JQB)</td>
                              <td><a href="#" class="text-primary">Law school car park
                              </a></td>
                              <td>9:06</td>
                              <td><span class="badge bg-success">Completed</span></td>
                            </tr>
                            <tr>
                              <th scope="row"><a href="#">#2644</a></th>
                              <td>Law school car park
                              </td>
                              <td><a href="#" class="text-primary">Night market 
                              </a></td>
                              <td>9:06</td>
                              <td><span class="badge bg-warning">Ongoing</span></td>
                            </tr>
                          </tbody>
                        </table>
      
                      </div>
      
                    </div>
                  </div><!-- End Recent Sales -->
      
           
      
                </div>
              </div><!-- End Left side columns -->
      
              <!-- Right side columns -->
              <div class="col-lg-4">
      
                <!-- Recent Activity -->
                <div class="card">
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
      
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
      
                  <div class="card-body">
                    <h5 class="card-title">Recent Activity <span>| Today</span></h5>
      
                    <div class="activity">
      
                      <div class="activity-item d-flex">
                        <div class="activite-label">32 min</div>
                        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                        <div class="activity-content">
                          System Optimization Achieved!
                        </div>
                      </div><!-- End activity item-->
      
                      <div class="activity-item d-flex">
                        <div class="activite-label">56 min</div>
                        <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
                        <div class="activity-content">
                          Late-Night Services Enhancement 🌙
      
                        </div>
                      </div><!-- End activity item-->
      
                      <div class="activity-item d-flex">
                        <div class="activite-label">2 hrs</div>
                        <i class='bi bi-circle-fill activity-badge text-primary align-self-start'></i>
                        <div class="activity-content">
                          Student-Driven Content Unveiled 🚗📢
                        </div>
                      </div><!-- End activity item-->
      
                      <div class="activity-item d-flex">
                        <div class="activite-label">1 day</div>
                        <i class='bi bi-circle-fill activity-badge text-info align-self-start'></i>
                        <div class="activity-content">
                          Safety Boost Implemented 🛡
      
                        </div>
                      </div><!-- End activity item-->
      
                      <div class="activity-item d-flex">
                        <div class="activite-label">2 days</div>
                        <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                        <div class="activity-content">
                          Interactive Maps Upgrade 🗺
      
                        </div>
                      </div><!-- End activity item-->
      
                      <div class="activity-item d-flex">
                        <div class="activite-label">4 weeks</div>
                        <i class='bi bi-circle-fill activity-badge text-muted align-self-start'></i>
                        <div class="activity-content">
                          User Feedback Appreciation 🌟
      
                        </div>
                      </div><!-- End activity item-->
      
                    </div>
      
                  </div>
                </div><!-- End Recent Activity -->
      
             
      
              
      
                <!-- News & Updates Traffic -->
                <div class="card">
                  <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                      </li>
      
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                    </ul>
                  </div>
      
                  <div class="card-body pb-0">
                    <h5 class="card-title">Students &amp; Contents <span>| Today</span></h5>
      
                    <div class="news">
                      <div class="post-item clearfix">
                        <img src="assets/img/news-1.jpg" alt="">
                        <h4><a href="#">Student Spotlight 🌟
                      </a></h4>
                        <p>Kudos to our student drivers! Your commitment to safe and efficient transport is making a real difference. Keep steering us towards success!
      
                        </p>
                      </div>
      
                      <div class="post-item clearfix">
                        <img src="assets/img/news-2.jpg" alt="">
                        <h4><a href="#">Late-Night Routes Unveiled 🌙
                      </a></h4>
                        <p>Night owls, rejoice! We've expanded late-night routes to include more hotspots. Stay connected and safe during those evening study sessions.
                          *
                          .</p>
                      </div>
      
                      <div class="post-item clearfix">
                        <img src="assets/img/news-3.jpg" alt="">
                        <h4><a href="#">Student Advisory Board Meeting 🤝
                      </a></h4>
                        <p>Calling all advocates! Join our next Student Advisory Board meeting to share your thoughts on how we can enhance your transportation experience.
                      </p>
                      </div>
      
                      <div class="post-item clearfix">
                        <img src="assets/img/news-4.jpg" alt="">
                        <h4><a href="#">Explore Your Campus 🗺
                      </a></h4>
                        <p>Navigate campus like a pro! Explore our new interactive maps to discover the quickest routes and transportation hubs.
                      </p>
                      </div>
      
                      <div class="post-item clearfix">
                        <img src="assets/img/news-5.jpg" alt="">
                        <h4><a href="#">Student Driver Applications Open 🚗
                      </a></h4>
                        <p>Ready to hit the road? Applications for our Student Driver Program are now open. Shape the future of college transportation!
                      </p>
                      </div>
      
                    </div><!-- End sidebar recent posts-->
      
                  </div>
                </div><!-- End News & Updates -->
      
              </div><!-- End Right side columns -->
      
            </div>
          </section>

       

    </main>    

</body>
</html>