<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layouts/default">

<body class="bg-dark">
  
    <main id="main" class="main" layout:fragment="content" style="height: 1024px;">
        <div class="pagetitle">
            <h1 class="text-white">Trips</h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="dashboard.html" class="text-white">Dashboard</a></li>
                <li class="breadcrumb-item active text-white-50">Trips</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <section class="section dashboard">
            <div class="row">
      
              <!-- Left side columns -->
              <div class="col-lg-12">
                <div class="row" id>
      
      
                 
      
      
                    <div class="col-xl-4">
      
                      <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            
                          <img src="assets/img/profile-img2.jpg" alt="Profile" class="rounded-circle">
                          <h2>Balme library</h2>
                          <h3>2 minutes away</h3>
                          <div class="flex-column justify-content-between">
                            <a href="#" class="btn btn-success"><i class="bi bi-check2-circle">Accept</i></a>
                            <a href="#" class="btn btn-danger"><i class="bi bi-pin-map-fill"> View Location</i></a>
      
                          </div>
                        </div>
                      </div>
            
                    </div>
      
      
      
                    <div class="col-xl-4">
      
                      <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            
                          <img src="assets/img/profile-img3.jpg" alt="Profile" class="rounded-circle">
                          <h2>Night market                     </h2>
                          <h3>6 minutes away</h3>
                          <div class="flex-column justify-content-between">
                            <a href="#" class="btn btn-success"><i class="bi bi-check2-circle">Accept</i></a>
                            <a href="#" class="btn btn-danger"><i class="bi bi-pin-map-fill"> View Location</i></a>
      
                          </div>
                        </div>
                      </div>
            
                    </div>
      
      
      
                    <div class="col-xl-4">
      
                      <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            
                          <img src="assets/img/profile-img4.jpg" alt="Profile" class="rounded-circle">
                          <h2>Law school car park                    </h2>
                          <h3>7 minutes away</h3>
                          <div class="flex-column justify-content-between">
                            <a href="#" class="btn btn-success"><i class="bi bi-check2-circle">Accept</i></a>
                            <a href="#" class="btn btn-danger"><i class="bi bi-pin-map-fill"> View Location</i></a>
      
                          </div>
                        </div>
                      </div>
            
                    </div>
      
      
                    <div class="col-xl-4">
      
                      <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            
                          <img src="assets/img/profile-img5.jpg" alt="Profile" class="rounded-circle">
                          <h2>Central cafeteria                     </h2>
                          <h3>7 minutes away</h3>
                          <div class="flex-column justify-content-between">
                            <a href="#" class="btn btn-success"><i class="bi bi-check2-circle">Accept</i></a>
                            <a href="#" class="btn btn-danger"><i class="bi bi-pin-map-fill"> View Location</i></a>
      
                          </div>
                        </div>
                      </div>
            
                    </div>
      
                    <div class="col-xl-4">
      
                      <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            
                          <img src="assets/img/profile-img6.jpg" alt="Profile" class="rounded-circle">
                          <h2>Central cafeteria                     </h2>
                          <h3>7 minutes away</h3>
                          <div class="flex-column justify-content-between">
                            <a href="#" class="btn btn-success"><i class="bi bi-check2-circle">Accept</i></a>
                            <a href="#" class="btn btn-danger"><i class="bi bi-pin-map-fill"> View Location</i></a>
      
                          </div>
                        </div>
                      </div>
            
                    </div>
              
                
      
      
           
      
                </div>
              </div><!-- End Left side columns -->
      
      
            </div>
          </section>
      

       

    </main>    

</body>
</html>